.trend-container{
    width: 80%;
    margin-left: 20px;
}
.row-trend {
    text-align: left;
}
.c1 {
    float: left;
    padding: 0px;
}
.p-title{
    color: #817e7e;
}

.c1>img{
    border-radius: 50%;
    display: block;
    width: 100%;
}

.c2{
    padding: 0px 15px;
    display: flex;
    float: left;
}

.c2>h6{
    text-align: left;
    margin: 5px 0px;
    font-size: 1.2em;
}
.c2>h5{
    font-size: 1.1em;
    margin: 8px 0px 8px 20px;
    color: grey;
}
.c2>p{
    font-size: 1.1em;
    margin: 8px 0px 0px 0px;
    color: grey;
}

.row .content{
    font-weight: normal;
    font-size: 1.3em;
    text-align: left;
}
.c3 {
    width: 20%;
    display: flex;
    align-items: center; 
}
.c3 .action {
    width: 1.7em;
    margin-right: 15px;
}
.redTxt {
    background-color: red;
    border: none;
    border-radius: 6px;
    padding: 5px;
    color: white;
    font-weight: bold;
  }
  .trends {
    width: 90%;
    margin-left: 5%;
    background-color: #F5F8FA;
    border-radius: 15px;
  }
  .pTrends {
    padding: 15px 0px 15px 20px;
    text-align: left;
    font-weight: bolder;
    font-size: 1.2em;
    border-bottom: 1px solid #d4cfcf;
  }