.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

.t-logo{
  width: 50%;
  fill: rgba(29,161,242,1.00);
}

.t-main{
  display: flex;
  height: 100vh;
}

.t-col-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0em 1em;
  align-items: flex-start;
  width: 65%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.t-row{
  display: flex;
}

.t-profile-img {
  width: 50%;
  justify-self: flex-end;
}

.t-profile-img > img{
  border-radius: 50%;
  display: block;
  max-width: 100%;
}

.t-sidebar-col {
  border-left: 1px solid #cacaca/* #F5F8FA*/;
  height: 100vh;
  width: 35%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.trends {
  width: 90%;
  margin-left: 5%;
  background-color: #f5f8fa;
  border-radius: 15px;
}
.pTrends {
  padding: 15px 0px 15px 20px;
  text-align: left;
  font-weight: bolder;
  font-size: 1.2em;
  border-bottom: 1px solid #d4cfcf;
}
.redTxt {
  background-color: red;
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: white;
  font-weight: bold;
}